# Jenkins credentials
JENKINS_USER=
JENKINS_TOKEN=
JENKINS_URL=https://aipay.ci.jenkins.sberbank.ru/job/aipay/job/SberAiPay_CI
JENKINS_TEMPLATE_JOB=ai-payments-merchant-registry-build

# Argo CD credentials
ARGOCD_AUTH_TOKEN=

# IFT GitOps defaults
CONFIG_REPO_URL=ssh://git@sbrf-bitbucket.sigma.sbrf.ru:7999/ci11366566/ci11366566_sberaipay_gitopscd.git
CONFIG_REPO_BRANCH=ift
CHARTS_PATH_TEMPLATE=charts/{{PROJECT_NAME}}
CONFIG_PATH_TEMPLATE=stands/ift/bdifb2y7-ai-payments/{{PROJECT_NAME}}
CONFIG_TEMPLATE_PATH_TEMPLATE=stands/ift/bdifb2y7-ai-payments/{{PROJECT_NAME}}
ARGOCD_SERVER=argocd.apps.bbmwbllt.k8s.sigma.sbrf.ru
ARGOCD_APP_NAME_TEMPLATE=bdifb2y7-{{PROJECT_NAME}}
ARGOCD_PROJECT=bdifb2y7.k8s.delta.sbrf.ru-ci11366566-sberaipay
ARGOCD_DESTINATION_SERVER=
ARGOCD_DESTINATION_NAMESPACE=ci11366566-sberaipay
